/* Generator: Scream.js <http://goo.gl/K4tmr> Copyright 2013 AHLF|IT */
.test{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/test.png");
	background-size: 150px 150px;
	width: 150px;
	height: 150px;
}

.test-test{
	width: 150px;
	height: 150px;
	background-size: 150px;
	background-position:0 -0px;
}

.test-test{
	background-image: url("../../images/scream/sprite__test.png");
	background-repeat: no-repeat;
	display: inline-block;
}
