/* Generator: Scream.js <http://goo.gl/K4tmr> Copyright 2013 AHLF|IT */
body{ background-color:#ccc; color:#0072BC;}

.brand-nodejs-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-nodejs-64.png");
	background-size: 238px 64px;
	width: 238px;
	height: 64px;
}

.gui-background-brand-nodejs-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -0px;
}

.gui-background-brand-grayscale-nodejs-32{
	width: 119px;
	height: 32px;
	background-size: 238px;
	background-position:0 -64px;
}

.brand-inverted-nodejs-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-inverted-nodejs-64.png");
	background-size: 238px 64px;
	width: 238px;
	height: 64px;
}

.page-background-brand-inverted-nodejs-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -0px;
}

.brand-inverted-watermarked-nodejs-32{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-inverted-watermarked-nodejs-32.png");
	background-size: 119px 32px;
	width: 119px;
	height: 32px;
}

.brand-nodejs-sketch-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-nodejs-sketch-64.png");
	background-size: 238px 64px;
	width: 238px;
	height: 64px;
}

.gui-background-brand-nodejs-sketch-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -96px;
}

.gui-background-brand-nodejs-64, .gui-background-brand-grayscale-nodejs-32, .gui-background-brand-nodejs-sketch-64{
	background-image: url("../../images/scream/sprite__gui-background.png");
	background-repeat: no-repeat;
	display: inline-block;
}

.page-background-brand-inverted-nodejs-64{
	background-image: url("../../images/scream/sprite__page-background.png");
	background-repeat: no-repeat;
	display: inline-block;
}
