/* Generator: Scream.js <http://goo.gl/K4tmr> Copyright 2013 AHLF|IT */
body{ background-color:#ccc; color:#B88A00;}

.brand-nodejs-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-nodejs-64@3x.png");
}

.gui-background-brand-nodejs-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -0px;
}

.gui-background-brand-grayscale-nodejs-32{
	width: 119px;
	height: 32px;
	background-size: 238px;
	background-position:0 -64px;
}

.brand-inverted-nodejs-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-inverted-nodejs-64@3x.png");
}

.page-background-brand-inverted-nodejs-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -0px;
}

.brand-inverted-watermarked-nodejs-32{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-inverted-watermarked-nodejs-32@3x.png");
}

.brand-nodejs-sketch-64{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../../images/scream/brand-nodejs-sketch-64@3x.png");
}

.gui-background-brand-nodejs-sketch-64{
	width: 238px;
	height: 64px;
	background-size: 238px;
	background-position:0 -96px;
}

.gui-background-brand-nodejs-64, .gui-background-brand-grayscale-nodejs-32, .gui-background-brand-nodejs-sketch-64{
	background-image: url("../../images/scream/sprite__gui-background@3x.png");
	background-repeat: no-repeat;
	display: inline-block;
}

.page-background-brand-inverted-nodejs-64{
	background-image: url("../../images/scream/sprite__page-background@3x.png");
	background-repeat: no-repeat;
	display: inline-block;
}
